<%= cache [audit, I18n.locale, :diff] do %>
  <h1><%= audit.audited_title %></h1>
  <table class="diff">
    <thead>
      <tr>
        <th><%= t '.attribute' %></th>
        <% if audit.action == 'update' %>
          <th><%= t '.from' %></th>
          <th><%= t '.to' %></th>
        <% else %>
          <th><%= t '.value' %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% audit.human_audited_changes.each_pair do |field, value| %>
        <% next if [value].flatten.join.blank? %>
        <tr>
          <td><%= audit.auditable_class.human_attribute_name field %></td>
          <%= render "audited_timeline/diff_#{audit.action}", field: field, value: value %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
