<% audits.reorder('created_at desc').limit(10).decorate.each do |audit| %>
  <div id="<%= dom_id audit %>" class="audited-timeline-wrapper">
    <% if audit.user.present? %>
      <%= audited_timeline_user_gravatar audit.user %>
    <% end %>

    <div class="audited-timeline-item audited-timeline-audit <%= audit.action %>">
      <div class="audited-timeline-header">
        <span class="audited-timeline-user">
          <%= audit.user %>
          <%= audited_timeline_action_icon audit %>
        </span>
        <span class="audited-timeline-date">
          <%= l audit.created_at, format: :very_short %>
        </span>
      </div>
      <div class="audited-timeline-body">
        <% if lookup_context.template_exists?(audited_timeline_partial_for(audit), [], true) %>
          <%= render audited_timeline_partial_for(audit), audit: audit %>
        <% else %>
          <% if Rails.env.development? %>
            <!-- create partial <%= audited_timeline_partial_for(audit) %> to override this table -->
          <% end %>
          <%= render 'audited_timeline/diff', audit: audit %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
